<template>
  <div class="col-sm-6 col-lg-3 col-xl-3">
    <div class="single-home-blog">
      <div class="card">
        <img :src="data.img" class="card-img-top" alt="blog">
        <div class="card-body">
          <a href="blog.html">Technology</a> | <span> March 30, 2019</span>
          <a href="blog.html">
            <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
          </a>
          <ul>
            <li> <i class="ti-comments"></i>4 Comments</li>
            <li> <i class="ti-eye"></i>10 View</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "CardProduct",
      props:{
        data:{type:Object,required:true}
      }
    }
</script>

<style scoped>
  .card-img-top{
    height: 250px;
  }
</style>
