<template>
  <div class="col-lg-4 col-sm-6">
    <div class="single_team_member">
      <img src="../assets/img/team/team_1.png" alt="">
      <div class="single_team_text">
        <h3><a href="#"> Jhosef Williams</a></h3>
        <p>Web developer</p>
        <div class="team_member_social_icon">
          <a href="#">facebok</a>
          <a href="#">twitter</a>
          <a href="#">skype</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "CardPerson"
    }
</script>

<style scoped>

</style>
