<template>

  <div class="col-lg col-sm" style="cursor: pointer; height: 420px">
    <a :href="data.href" style="height: 100%">
      <div class="single_service_part" style="height: 100%">
        <div class="single_service_part_iner" style="height: 100%">
          <img :src="data.img" alt="" height="90">
          <h3>{{data.titulo}}</h3>
          <p> {{data.descripcion}} </p>
        </div>
      </div>
    </a>

  </div>
</template>

<script>
    export default {
        name: "CardInfo",
      props:{
          data :{type:Object,required:true}
      }
    }
</script>

<style scoped>

</style>
