<template>
  <div class="client_review_text">
    <p>Own midst. Behold sea created male he together of That Said fourth deep
      abundantly
      have light night beginning rule darkness seed darkness which land saying
      moveth.
      Fifth shall wont signs, can seasons green days gathered great</p>
    <img src="../assets/img/client/client_logo.png" alt="#">
    <div class="client_info">
      <h3>Daniel E Gilcritst</h3>
      <h5>Manager, Vision</h5>
    </div>
  </div>
</template>

<script>
    export default {
        name: "CardVideo"
    }
</script>

<style scoped>

</style>
