<template>
  <section class="contact-section section_padding">
    <div class="container">
      <tittle :data="titulo"></tittle>
      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>



      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Contactanos</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate" @submit.prevent="sendEmail">
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text"  placeholder = 'Nombre*' required v-model="name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email"  placeholder = 'Email*' required v-model="email">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" placeholder = 'Telefono*' required v-model="phone">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"  placeholder = 'Dejanos un mensaje con el producto de tu interes:*' required v-model="message"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4">Enviar</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>56 13 65 68 27</h3>
              <p>Lunes a Viernes de 9:00 am a 6:00 pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>printhouse@vcell.com.mx</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import tittle from "./Tittle"
  import {sendEmail} from "../API";
    export default {
        name: "Contac",
      components:{
        tittle
      },
      data(){
        return{
          name:'',
          email:'',
          phone:'',
          message:'',
          titulo:{
            titulo:'Visita',
            subtitulo:'Nuestras oficinas'
          }
        }
      },
      methods:{
        sendEmail(){
          let data = {
            name:this.name,
            message:this.message,
            phone:this.phone
          }
          sendEmail({data,email:this.email,})
        }
      },
      mounted() {
          this.$nextTick(()=> {
            let uluru = {lat: 19.6693, lng: -99.2098};
            let grayStyles = [
              {
                featureType: "all",
                stylers: [
                  {saturation: -90},
                  {lightness: 50}
                ]
              },
              {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
            ];
            let map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 19.6693, lng: -99.2098},
              zoom: 17,

              scrollwheel: false
            })
            var marker = new google.maps.Marker({
              position: uluru,
              map: map,
              title: 'Print House'
            })
          })
      }
    }
</script>

<style scoped>

</style>
