<template>
  <section class="our_latest_work section_padding">
    <div class="container-fluid">
      <tittle :data="titulo"></tittle>
      <div class="row">
        <div class="col-lg-12">
          <creativeCardR :data="cards[0]"></creativeCardR>
          <creativeCardL :data="cards[1]"></creativeCardL>
          <creativeCardR :data="cards[2]"></creativeCardR>
          <creativeCardL :data="cards[3]"></creativeCardL>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import creativeCardR from "./CreativeCardR"
  import tittle from "./Tittle"
  import creativeCardL from "./CreativeCardL"

  export default {
    name: "Creative",
    components: {
      creativeCardR,
      creativeCardL,
      tittle
    },
    data() {
      return {
        titulo:{
          titulo:'Contamos',
          subtitulo:'Con la mejor tecnología, para cualquier reto'
        },
        cards: [{
          id: 'playera',
          style: '',
          img: './dist/playera.jpeg',
          titulo: `Sublimación.`,
          subtitulo: `Crea regalos o personaliza tus articulos a tu medida`,
          descripcion: `Plasma tu imagen en camisetas, tazas, portafotos, carcasas de teléfono, bolsos, azulejos, etc.
          Consigue crear un artículo único y exclusivo..`
        }, {
          id: 'tasa',
          style: 'margin: -60px 0px;',
          img: './dist/taza.jpeg',
          titulo: `Offset`,
          subtitulo: `¿Buscas impresión de calidad a bajo costo?`,
          descripcion: `Este metodo es para ti, imprime un elevado número de copias a mucha velocidad, disminuye tu costo
          mientras el volumen aumenta.`
        }, {
          id: 'gorra',
          style: 'margin: -160px 0px;',
          img: './dist/gorra.png',
          titulo: `Banner`,
          subtitulo: `Únete al alcance que tienen los banners`,
          descripcion: `Sostén tu publicidad y date el apoyo que necesitas para que reconozcan tu marca.`
        }, {
          id: 'impresora',
          style: 'margin: -160px 0px;',
          img: './dist/auto.png',
          titulo: `Impresión en plotter`,
          subtitulo: `¡Hasta 1440 dpi!,`,
          descripcion: `Imprime con nosotros tus propios diseños o te apoyamos con tu idea, con la mas alta calidad.
          Imprime lonas front, vinil, vinil microperforado. `
        }]
      }
    }

  }
</script>

<style scoped>
  .section_padding {
    padding: 100px 0px;
  }
</style>
