<template>
  <div class="single_work" :style="data.style" :id="data.id">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="demo_img">
          <img :src="data.img" alt="demo">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_work_demo">
          <h5>{{data.titulo}}</h5>
          <h3>{{data.subtitulo}}</h3>
          <p>{{data.descripcion}} </p>
<!--          <a href="project_details.html" class="btn_3">learn more <span class="flaticon-slim-right"></span> </a>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "CreativeCardL",
      props:{
        data:{type:Object,required:true}
      }
    }
</script>

<style scoped>
img{
  padding: 90px;
}
@media (max-width: 576px)
  .single_work {
    margin: 0px 0px !important;
  }
</style>
