<template>
  <footer class="footer-area" style="padding-top: 10px">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-6 col-xl-3">
          <div class="single-footer-widget footer_1">
            <a href="index.html"> <img src="../assets/img/logovcell.png" alt="" height="90" style="margin-bottom: 0px"> </a>
<!--            <p>But when shot real her. Chamber her one visite removal six-->
<!--              sending himself boys scot exquisite existend an </p>-->
<!--            <p>But when shot real her hamber her </p>-->
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-xl-4">
          <div class="single-footer-widget footer_2" style="margin-top: 30px; margin-left: 70px">
            <a href="https://www.fyf.mx/" target="_blank"><h6 style="color: white" class="mt-3">© 2019 Desarrollado por F&F soluciones </h6> </a>
<!--            <h4>Newsletter</h4>-->
<!--            <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.-->
<!--            </p>-->
<!--            <form action="#">-->
<!--              <div class="form-group">-->
<!--                <div class="input-group mb-3">-->
<!--                  <input type="text" class="form-control" placeholder='Enter email address'-->
<!--                         onfocus="this.placeholder = ''"-->
<!--                         onblur="this.placeholder = 'Enter email address'">-->
<!--                  <div class="input-group-append">-->
<!--                    <button class="btn" type="button"><i class="ti-angle-right"></i></button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->

          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-xl-3">
          <div class="single-footer-widget footer_2">
            <div class="social_icon">
              <a href="#"> <i class="ti-facebook"></i> </a>
              <a href="#"> <i class="ti-twitter-alt"></i> </a>
              <a href="#"> <i class="ti-instagram"></i> </a>
              <a href="#"> <i class="ti-skype"></i> </a>
            </div>
          </div>
        </div>
<!--            <h4>Instagram</h4>-->
<!--            <div class="footer_img">-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_1.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_2.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_3.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_4.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_5.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--              <div class="single_footer_img">-->
<!--                <img src="../assets/img/footer_img/footer_img_6.png" alt="">-->
<!--                <a href="#"><i class="ti-instagram"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>

    </div>
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="copyright_part_text text-center" style="margin-top: 10px; margin-bottom: 20px">-->
<!--            <div class="row">-->
<!--              <div class="col-lg-12">-->
<!--                <a href="https://www.fyf.mx/" target="_blank"><h6 style="color: black" class="mt-3">© 2019 Desarrollado por F&F soluciones </h6> </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </footer>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>

</style>
