<template>
  <section class="banner_part">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-6 col-md-6">
          <div class="banner_text">
            <div class="banner_text_iner text-center">
              <h2>Piensa <span>Creativo Trae</span> </h2>
              <h3>Tus ideas a la vida</h3>
              <a href="#about" class="btn_1">Conoce más <i class="ti-angle-right"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="banner_bg">
            <img src="../assets/img/banner_img.png" alt="banner">
          </div>
        </div>
      </div>
    </div>
    <div class="hero-app-1 custom-animation"><img src="../assets/img/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-5 custom-animation2"><img src="../assets/img/animate_icon/icon_3.png" alt=""></div>
    <div class="hero-app-7 custom-animation3"><img src="../assets/img/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-8 custom-animation"><img src="../assets/img/animate_icon/icon_4.png" alt=""></div>
  </section>
</template>

<script>
    export default {
        name: "HeaderHome"
    }
</script>

<style scoped>

</style>
