<template>

  <section class="about_part">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="about_img">
            <img src="../assets/img/about_img_1.png" class="img_1" alt="">
            <img src="../assets/img/about_img_2.png" class="img_2" alt="">
            <h2>   <br>     </h2>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-4">
          <div class="about_text">
            <h5>Nosotros</h5>
            <h2>En Vcell Print House, nuestra misión:</h2>
            <h4>Es ser una organización integral de artes
              gráficas, que satisfaga las necesidades de impresión con los mas altos estandares de calidad,
              rapidez y eficiencia que nuestros clientes requieren.</h4>
            <p>Ser una empresa de artes gráficas de referencia, por la
              excelencia en muestros trabajos, preocupandonos por laprotección del medio ambiente y sobre
              todo en la satisfacción plena de todos nuestros clientes. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-app-7 custom-animation"><img src="../assets/img/animate_icon/icon_7.png" alt=""></div>
    <div class="hero-app-8 custom-animation2"><img src="../assets/img/animate_icon/icon_4.png" alt=""></div>
    <div class="hero-app-6 custom-animation3"><img src="../assets/img/animate_icon/icon_5.png" alt=""></div>
  </section>
</template>

<script>
    export default {
        name: "InfoHome"
    }
</script>

<style scoped>

</style>
