<template>
  <div class="owl-thumb-item">
    <div class="slider-thumbnails">
      <img src="../assets/img/client/client_1.png" alt="slideimg" class="image">
    </div>
  </div>
</template>

<script>
    export default {
        name: "ItemVideo"
    }
</script>

<style scoped>

</style>
