<template>
  <header class="main_menu home_menu">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#home"> <img src="../assets/img/logovcell.png" height="70" style="cursor: pointer">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse main-menu-item justify-content-end"
                 id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#service">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
