<template>
  <section class="happy_client">
    <div class="container">
      <tittle :data="titulo"></tittle>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="single_happy_client ">
            <img src="../assets/img/image15.jpg" alt="cap" height="150">
            <span class="color-letras">$</span>
            <span class="counter color-letras">235</span>
            <h4 class="color-letras">El<br>Millar </h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single_happy_client">
            <img src="../assets/img/image16.jpg" alt="cap">
            <span class="color-letras">$</span>
            <span class="counter color-letras">245</span>
            <h4 class="color-letras">El<br>Millar</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single_happy_client">
            <img src="../assets/img/image18.jpg" alt="cap">
            <span class="color-letras">$</span>
            <span class="counter color-letras">250</span>
            <h4 class="color-letras">El<br>Millar</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import tittle from "./Tittle"
    export default {
        name: "Numbers",
        components:{
          tittle
        },
        data(){
          return{
            titulo:{
              titulo:'Prescios',
              subtitulo:'Desde'
            }
          }
        },
        mounted() {
          this.$nextTick(()=>{
            $('.counter').counterUp({
            time: 2000
            })
          })
        }
    }
</script>

<style scoped>
.single_happy_client{
  padding-left: 20vh;
}
  .happy_client{
    background-color: white;
    padding: 40px 0px 35px ;
  }
.happy_client .single_happy_client img{
  width: auto;
  margin-left: 40px;
  height: 125px;
}
  .color-letras{
    color: #162b45 !important;
  }
</style>
