<template>
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="section_tittle text-center">
        <div v-if="data">
          <p>{{data.titulo}}</p>
          <h2>{{data.subtitulo}}</h2>
        </div>
        <div v-else>
          <p>recent work</p>
          <h2>Creative work for client</h2>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Tittle",
        props:{
          data:{type:Object}
        }
    }
</script>

<style scoped>

</style>
