<template>
  <div class="row align-items-center">
    <div class="col-lg-5">
      <div class="intro_video_bg">
        <div class="intro_video_iner text-center">
          <div class="intro_video_icon">
            <a id="play-video_1" class="video-play-button popup-youtube"
               href="https://www.youtube.com/watch?v=pBFQdxA-apI">
              <span class="ti-control-play"></span>
            </a>
          </div>
          <p>Watch intro video</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-5">
      <div class="review_text_item">
        <div class="row">
          <div class="col-lg-7 col-sm-8">
            <div class="owl-carousel owl-theme" id="sync2">
              <item></item>
              <item></item>
              <item></item>
              <item></item>
              <item></item>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="slider owl-carousel owl-theme" id="sync1">
              <card></card>
              <card></card>
              <card></card>
              <card></card>
              <card></card>
              <card></card>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
  import item from "./ItemVideo"
  import card from "./CardVideo"
    export default {
        name: "Video",
      components:{
          item,
          card
      }
    }
</script>

<style scoped>

</style>
