<template>
  <div id="app">
    <navbar></navbar>
    <headerHome id="home"></headerHome>
    <info id="about"></info>
    <section class="cta_part" id="service" style="padding-bottom: 0px">
      <div class="container">
        <tittle :data="titulo1"></tittle>
      </div>
    </section>
    <section class="service_part section_bg_2 section_padding" >
      <div class="container">
        <div class="row">
          <cardInfo v-for="info in infos" :data="info"></cardInfo>
        </div>
      </div>
    </section>

    <creative id="productos"></creative>
    <numbers></numbers>
<!--    <section class="review_part padding_top">-->
<!--      <div class="container-fluid">-->
<!--        <tittle></tittle>-->
<!--        <videoVcell></videoVcell>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="cta_part">-->
<!--      <div class="container">-->
<!--        <tittle></tittle>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="team_member_section section_padding">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <cardPerson></cardPerson>-->
<!--          <cardPerson></cardPerson>-->
<!--          <cardPerson></cardPerson>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="blog_part section_padding" id="impresora">-->
<!--      <div class="container">-->
<!--        <tittle></tittle>-->
<!--        <div class="row">-->
<!--          <cardProduct :data="{img:'./dist/single_project.png'}"></cardProduct>-->
<!--          <cardProduct :data="{img:'./dist/single_project.png'}"></cardProduct>-->
<!--          <cardProduct :data="{img:'./dist/single_project.png'}"></cardProduct>-->
<!--          <cardProduct :data="{img:'./dist/single_project.png'}"></cardProduct>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
    <contact id="contact"></contact>
    <footerVcell></footerVcell>

  </div>
</template>

<script>
  import navbar from "./components/Navbar"
  import cardPerson from "./components/CardPerson"
  import footerVcell from "./components/footer"
  import contact from "./components/Contac"
  import headerHome from "./components/HeaderHome"
  import cardInfo from "./components/CardInfo"
  import info from "./components/InfoHome"
  import creative from "./components/Creative"
  import numbers from "./components/Numbers"
  import videoVcell from "./components/Video"
  import tittle from "./components/Tittle"
  import cardProduct from "./components/CardProduct"

  export default {
    name: 'app',
    components: {
      navbar,
      footerVcell,
      contact,
      headerHome,
      cardInfo,
      info,
      creative,
      numbers,
      videoVcell,
      tittle,
      cardPerson,
      cardProduct
    },
    data() {
      return {
        titulo1:{titulo:'Lo que ofrecemos', subtitulo:'Nuestra creatividad a tu servicio'},
        infos:[
          {
            href:'#playera',
            descripcion:"Consiste en plasmar una imagen fotográfica sobre " +
              "un soporte (camiseta, taza, portafotos, carcasa de teléfono, bolso, azulejos, etc.) " +
              "consiguiendo crear un artículo personalizado único y exclusivo.",
            titulo:'Sublimación.',
            img:'./dist/image5.png'
          },
          {
            href:'#impresora',
            titulo:'Impresión en plotter.',
            descripcion: "Es un dispositivo de impresión conectado a una " +
              "pc, diseñado específicamente para impresiones gráficas con gran precisión.",
            img:'./dist/image8.png'
          },
          {
            href:'#gorra',
            titulo:'Banner.',
            descripcion: "Los puedes admirar en la " +
              "miscelánea o hasta en grandes exposiciones. Gracias a la demanda de esta estructura " +
              "existen diferentes tipos de banners publicitarios, EconoBanner y Banner.",
            img:'./dist/image19.png'
          },
          {
            href:'#tasa',
            titulo:'Offset.',
            descripcion: "Un método de impresión indirecto, la superficie a imprimir no " +
              "tiene contacto con la plancha. Este sistema proviene de un proceso avanzado de " +
              "la litografía.",
            img:'./dist/image9.png'
          }
        ]
      }
    },

  }
</script>

<style lang="scss">
  //@import "assets/sass/main";
</style>
